{% extends 'base.html' %} {% block content %}

<h1 class="white-text">My Games</h1>
<hr /><br />

{% for game in games %}
<div class="card">
  <a href="{% url 'detail' game.id %}">
    <div class="card-content">
        <span class="card-title black-text">{{ game.name }}</span>
        <!-- <p>Developer: {{ game.developer }}</p> -->
    </div>
  </a>
</div>
{% endfor %}
<div class="center-align">
  <a class="btn orange center" href="{% url 'games_create' %}">Add Game</a>
</div>
<br />
{% endblock %}